html {
  height: 100%;
  margin: 0;
  /* ensures containers take up 100% of the screen */
  font-size: 16px;
}

body {
  height: 100%;
  margin: 0;
  /*Tells computer to switch body element to use flexible layout, anything within body tags become flexible elements */
  display: flex;
  /* centers content horizontally */
  justify-content:center;
  /* centers content vertically */
  align-items: center;
  background: url('../img/wow.png') bottom center no-repeat;
  background-size: cover;
  font-size: 1em;
}

.centered {
  padding: 0 3.125em;
  font-family: 'Montserrat', sans-serif;
  background: #f16059
}

h1 {
  font-size: 2em;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
